@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  /************************************NavBar**************************************** */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  font-weight: bolder;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight:bolder;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
/****************************************NavBar******************************************* */
/************************************** Container************************************* */

.container {
  padding: 3rem 2.5rem;
  margin: 9.26rem auto;
  box-shadow: 0.6rem 0.6px 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  background-color: rgb(216, 216, 216);
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
}
.con-text {
  font-size: 2.2rem;
}
para{
  font-size: 1rem;
}
@media  screen and (max-width:600px) {
  .con-text{
  font-size: 1.7rem;
  }
  .container{
    padding: 2rem;
    margin: 5rem .8rem;
  }
hr {
  width: 100%;
}
.para-div {
  width: inherit;
}

.para {
  line-height: 1.7rem;
}
}
/************************************** Container************************************* */



/****************************************** Footer********************************* */
.foot-div-1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 3rem;
  background-color: rgb(73, 73, 73);
  /* position: absolute; */
  /* bottom: 10px; */
}
.foot-txt{
  color: white;
  font-weight: bolder;
}
.foot-div-2{
width: 100vw;
height: 1rem;
/* position: absolute; */
/* bottom: 0; */
background-color:rgb(36, 36, 36) ;
}
/****************************************** Footer********************************* */